            <ul class="nav nav-list">
              <li class="nav-header">Interviews</li>
              <li><%= link_to "View Interviews", :controller => "admin", :action => "index"%></li>
              <li><%= link_to "Add New Interview", :controller => "admin", :action => "new_interview"%></li>
              
            </ul>